html {
    font-size: 100%;
    font-size: 62.5%;
}

body {
    background-color: aqua;
    background-size: cover;
    height: 100%;
}


.container {
    display: flex;
    flex-direction: column;
}
.quote-box {
    padding: 3em;
    margin: 15em;
    border-radius: 5em 10em;
    background-color: azure;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
i {
    color: aqua;
}

#footer{
    text-align: center;
}
#quote-content{
    font-family: 'Sansita', sans-serif;
    font-size: 3em;
    margin: 10px;
}

#quote-author {
    font-size: 2em;
    display:flex;
    justify-content: flex-end;
    font-family:  'Catamaran', sans-serif;
}
#change_quote {
}

#footer{
    display: flex;
    justify-content: flex-end;
}